venv/
__pycache__/
*.pyc
data/*.db
data/*.db-journal
data/*.db-wal
data/*.db-shm
data/session_secret.key
data/wireguard/*
!data/wireguard/.gitkeep
data/xray/*
!data/xray/.gitkeep
logs/*.log*
static/qr/*.png
run.pid
.env
